<!DOCTYPE html>
<html>
    <head>
        <title>dublinbikes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.rawgit.com/westonganger/bootstrap-directional-buttons/master/dist/bootstrap-directional-buttons.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDVpdcU4-foTsYN-UHU9Vu34dpykEIF388&libraries=geometry&libraries=places"></script> 
        <script src="./static/script.js" ></script>
        <script >
            $(function() {
            document.getElementById("address-input-btn").addEventListener("click", geoCode);
            document.getElementById("bikelanes-toggle").addEventListener("click", toggleBikeLayer);
            document.getElementById("refresh-btn").addEventListener("click", addStationMarkersFromDB);
            document.getElementById("refresh-btn").addEventListener("click", weatherWrapper);
            document.getElementById("future-input-btn").addEventListener("click", addStationMarkersFromForecast)
            <!-- $("#bikelanes-toggle").click(toggleBikeLayer()); -->
            });
            $(initMap);
            $(addStationMarkersFromDB);
            $(weatherWrapper);
            $(startTime);
        </script>

        <style>
            #map {
                height: 400px;
                margin: auto;
            }

            .centre {
                margin: auto;
                width: 50%;
            } 
            
            .mid {
                margin: auto;
                width: 300px;
                padding: 10px
            }
        </style>

    </head>
<body>
  
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <h3 >Dublinbikes</h3>
            </div>
            <div id="weather" class="table-responsive, col-xs-8">
                <table class="table">
                  <th id="clock"></td>
                  <th id="weatherIcon"><img id="wicon" src=""></td>
                  <th id="weatherDescription"></td>
                  <th id="weatherCurrentTemp" class="info"></td>
                  <th id="windSpeed"></td>
                  <th id="humidity"></td>
                  <th id="weatherTime"></td>
                </table>
            </div>
        </div>
        <div id="map"></div>
 

        <div class="row">
            <div class="col-md-3 col-sm-6 col-cs-12" id="findstation" id="address-test">
                <input id="address-input" class="controls" type="text" placeholder="Enter current location" size="50">
                <input type="button" id="address-input-btn" value="Find bikes">
                <input type="button" id="refresh-btn" value="Refresh">
                <label id="bikelanes-toggle"><span style="color: black; font-size: 12pt">Show bike lanes </span><input type="checkbox" name="Show bike lanes"></label>
                <input type="button" id="future-input-btn" value="Future">
                <input id="future-input" class="controls" type="text" placeholder="Enter day, then hour" size="50">
        </div>
        </div>
    <div class="container, mid">
    <button type="button" class="btn btn btn-success btn-arrow-left" >&nbsp;Routes</button>
    <button type="button"  class="btn btn btn-link" data-toggle="collapse" data-target="#collapsable">Info</button>
    <button type="button" class="btn btn-info btn-arrow-right">Charts&nbsp;</button>
  </div>
    <div id="collapsable" class="collapse">
        <div id="rtpi">
        </div>
    </div>

    <div id = "btn-0">
    </div>
    <div id = "btn-1">
    </div>
    <div id = "btn-2">
    </div>

</body>
</html>
