<!DOCTYPE html>
<html>
  <head>
    <title>dublinbikes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h3 >Dublinbikes</h3>
        </div>
      </div>
      <div id="map"></div>
       
     
      <div class="row">
        <div class="col-md-3 col-sm-6 col-cs-12">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="col-md-3 col-sm-6 col-cs-12">
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          </p>
        </div>
        <div class="col-md-3 col-sm-6 col-cs-12">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="col-md-3 col-sm-6 col-cs-12">
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          </p>
        </div>
      </div>
    
    </div>




    <script>
      function initMap() {
        var charlemontPlace = {lat: 53.330662, lng: -6.260177};

        var mapOptions = {
            zoom:15,
            center:charlemontPlace
        }

        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        /*
        // click listener - will use little man icon and auto-display best station calculation ( will be one of the ways users can select location)

        google.maps.event.addListener(map, 'click', function(event){
            addMarker({coordinates:event.latLng});

        });

        */

      
        // dummy array of station markers (js objects). replace with vals from bikes api
        var stationMarkers = [
            {
          name: "Dame Street",
          coordinates:{lat: 53.344007, lng: -6.266802},
          infoContent:"<div>Dame Street Station.</div>"+"<div>Occupancy: 19</div>"
        },
        {
          name: "Charlemont Place",
          coordinates:{lat: 53.330662, lng: -6.260177},
          infoContent:"<div>Charlemont Station.</div>"+"<div>Occupancy: 12</div>"
        }

        ];

        // create station markers from array
        for(var i = 0; i < stationMarkers.length; i++){
          addStationMarker(stationMarkers[i]);
        }
        

        // function for adding a station marker

        function addStationMarker(properties){
            
          var marker = new google.maps.Marker({
            title:properties.name,
            position:properties.coordinates,
            map:map    
          });

          var infowindow = new google.maps.InfoWindow({
            content:properties.infoContent
          });

          marker.addListener('click', function(){
            infowindow.open(map, marker)
          });
        }



      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVpdcU4-foTsYN-UHU9Vu34dpykEIF388&callback=initMap">
    </script>
  </body>
</html>